name: Docker CI Pipeline

on: [push, pull_request]
permissions:
  packages: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: 20
      - name: Installing Dependencies
        run: npm install
      - name: lint Phase
        run:  npm run lint
      - name: unit test
        run: npm run test
      - name: Building Static Files
        run: npm run build 
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: build n push
        uses: docker/build-push-action@v6.18.0
        with:
          push: true
          tags: |
            ghcr.io/${{ github.actor }}/react-app-cicd:${{ github.sha }}
            ghcr.io/${{ github.actor }}/react-app-cicd:latest
          context: .
      - name: Output image details
        run: |
          echo "Image pushed successfully!"

      
      
            
  